@{
    ViewData["title"] = "User listed";
}
<h3>List User</h3>
<a class="btn btn-primary" asp-action="Create" asp-controller="User">Add User</a>
<table class="table">
    <thead>
        <tr>    
            <th scope="col">Id</th>
            <th scope="col">UserName</th>
            <th scope="col">Email</th>
@*             <th scope="col">PasswordHash</th> *@
            <th scope="col">phone</th>
            <th scope="col">Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var userWithRole in Model)
        {
            <tr>
                <td>@userWithRole.User.Id</td>
                <td>@userWithRole.User.UserName</td>
                <td>@userWithRole.User.Email</td>
                @* <td>@userWithRole.User.PasswordHash</td> *@
                <td>@userWithRole.User.PhoneNumber</td>
                <td>@userWithRole.RoleName</td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-controller="User" asp-action="Edit" asp-route-Id="@userWithRole.User.Id" method="post">Edit</a>
                    <a class="btn btn-danger btn-sm confirmDeletion" asp-controller="User" asp-action="Delete" asp-route-Id="@userWithRole.User.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
